<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#foo">
        <span class="glyphicon glyphicon-home"></span> Questionaire
      </a>
    </div>

	<div>
		<ul class="nav navbar-nav">
			<li ng-class="{ active: isActive('/')}"><a href="#foo">idee{{addPostfix('/')}}</a></li>
			<li ng-class="{ active: isActive('/question')}"><a href="#question">frage{{addPostfix('/question')}}</a></li>
			<li ng-class="{ active: isActive('/answer')}"><a href="#answer">antwort{{addPostfix('/answer')}}</a></li>
		</ul>
	</div>
  </div>
</nav>
