<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div ng-include="'app/components/header/header.html'"></div>

  <h2>Ich möchte...</h2>

  <div class="row">
      <div class="col-sm-6 col-md-6">
        <form id="askme">
          <p>Wenn Du informiert werden möchtest...</p>
          <div class="form-group">
            <label for="mail">E-Mail</label>
            <input type="email" class="form-control" ng-model="mail.address" id="mail" placeholder="Deine Adresse">
          </div>
          
          <div class="alert alert-success" ng-show="success">
            <strong>Erfolgreich eingetragen</strong>
            <br />Sobald es Neuigkeiten gibt, erfährst Du davon.
          </div>

          <button type="submit" class="btn btn-success" ng-disabled="mail.address.length == 0" ng-click="send()">Eintragen</button>
        </form>
      </div>
    </div>

  <hr>

  <div class="footer">
    <p>With ♥ from Chris</p>
  </div>

</div>
