<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</h2>

  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

  <div class="row">
      <div>
        <form name="news" id="news">
          <div class="form-group" id="news-form">
            <label for="mail">E-Mail</label>
            <input type="email" name="input" class="form-control" ng-model="mail.address" placeholder="Deine Adresse" required ng-change>
          </div>
          
          <div class="alert alert-success" ng-show="success">
            <strong>Erfolgreich eingetragen</strong>
            <br />Sobald es Neuigkeiten gibt, erfährst Du davon.
          </div>
          <button type="submit" class="btn" ng-disabled="!news.input.$valid" ng-click="send()">Eintragen</button>
        </form>
        
      </div>
    </div>

  <p class="thanks">With ♥ from Chris</p>

  <hr>

</div>

<div class="push"></div>