<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="row">
      <div>
        <form id="askme">
          <div class="form-group">
            <label for="question">Frage</label>
            <textarea class="form-control" id="question" ng-model="ask.question" placeholder="Stell deine Frage... "></textarea>
          </div>

          <div class="alert alert-success" ng-show="success">
            <strong>Danke für deine Frage!</strong>
            <br />Ich werde sie so schnell wie möglich beantworten, schau doch einfach in den nächsten Tagen noch mal vorbei!
          </div>

          <button type="submit" class="btn btn-success" ng-disabled="ask.question.length == 0" ng-click="send()">Submit</button>
        </form>
      </div>
    </div>

    <hr>

</div>
