<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="row">
      <div>
        <form id="askme">
          <div class="form-group">
            <textarea class="form-control" id="question" ng-model="ask.question" placeholder="Stell deine Frage... "></textarea>
          </div>

          <div class="alert alert-success" ng-show="success">
            <strong>Danke für deine Frage!</strong>
            <br />Ich werde sie so schnell wie möglich beantworten, schau doch einfach in den nächsten Tagen noch mal vorbei!
          </div>

          <button type="submit" class="btn" ng-disabled="ask.question.length == 0 || ask.question.length > 250" ng-click="send()">Abschicken</button>
          <div id="char-count" ng-show="ask.question.length > 250">
            Die Frage hat mehr als 250 Zeichen, bitte kürzen.
          </div>
        </form>
      </div>
    </div>

    <hr>

</div>

<div class="push"></div>